<html>
  <div class="container">
    <br><h2>Groupe de commentaires</h2>
    <div class="bs-component">
      <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <img src="https://images.pexels.com/photos/1851164/pexels-photo-1851164.jpeg?auto=compress&cs=tinysrgb&w=800" class="card-img" alt="Image" style="width: 50px; height: 50px;margin-right:7px" >
          <strong class="me-auto">Auteur</strong>
          <small>11 mins ago</small>
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="toast-body">
          <p>Hello, world! This is a content message.</p>
        </div>
      </div><br>
      
      <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <img src="https://images.pexels.com/photos/1851164/pexels-photo-1851164.jpeg?auto=compress&cs=tinysrgb&w=800" class="card-img" alt="Image" style="width: 50px; height: 50px;margin-right:7px" >
          <strong class="me-auto">Auteur</strong>
          <small>11 mins ago</small>
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="toast-body">
          <p>Hello, world! This is a content message.</p>
        </div>
      </div><br>
    </div>

    <h2>Formulaire pour les commentaire</h2>
      <div class="col-lg-6">
        <form>
          <fieldset>
            <div class="form-group">
              <label for="exampleTextarea" class="form-label mt-4">Ton commentaire :</label>
              <textarea class="form-control" id="event_description" rows="3" placeholder="Waou !! Super événement, j'ai hâte d'y être ! " ></textarea>
            </div><br>
          </fieldset>
          <button type="submit" class="btn btn-primary">Publier le commentaire</button>
        </form>
      </div>
    </div>
  </div>
</html>